.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.halloween {
  font-family: "Ruge Boogie", cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}
.main {
  padding: 5rem 0;
  flex: 1;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .main {
    width: 90%;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .main {
    width: 400px;
    flex-direction: column;
  }
}

.block {
  background-color: rgb(255 138 28 / 86%);
  border: 5px solid #ffffffc7;
  box-shadow: 0px 0 0 2px #000000;
  border-radius: 15px;
  padding: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.title {
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.15;
  font-size: 4rem;
  font-family: "Ruge Boogie", cursive;
}

.check {
  margin: 1rem;
  line-height: 2rem;
}
.check input[type="radio"] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: 1rem;
  border: 0px;
  width: 1rem;
  vertical-align: text-bottom;
  margin-right: 0.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.signup label {
  display: block;
}
.signup input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: peru;
  font-size: large;
}
.error {
  font-weight: bold;
  font-size: larger;
  background-color: #df2100;
  color: white;
  padding: 2rem;
}